@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #e3b74f;
  --mainWhite: #e9ecef;
  --offWhite: #e9ecef;
  --mainBlack: #4b4237;
  --mainGrey: #d9d4d3;
  --darkGrey: #ced4da;
  --mainTransition: all 0.15s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Libre Baskerville', serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.loadingSpinner {
  margin-left: 16%;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 10rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 220px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero,
.restaurantHero {
  min-height: calc(100vh - 180px);
  background: url('./images/main.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url('./images/DSCN8304.JPG');
  max-width: 100%;
  height: auto;
  min-height: calc(100vh - 180px);
}
.restaurantFooterHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/restaurant/img4.jpg');

  max-width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: calc(100vh - 180px);
}

.restaurantHero {
  background-image: url('./images/restaurant/001Res.jpg');
}

.restaurantFooterHero h6 {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
  color: var(--mainWhite);
}

.restaurantFooterHero a {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* End of Hero */
/* Banner */
.banner {
  transition-delay: 0.1s;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* Footer */
.footer {
  padding: 1rem 0;
  background: var(--primaryColor);
  text-align: left;
  font-size: auto;
  margin-bottom: 0%;
  padding-bottom: 16px;
  letter-spacing: var(--mainSpacing);
}

.footer-center {
  width: 70vw;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 90px;
}

.footer-link {
  color: var(--mainBlack);
}
.footer-link:hover {
  background: transparent;
  color: var(--darkGrey);
}

/* End of Footer */
/* Slider */
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/* End of Slider */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.price-top p {
  text-transform: capitalize;
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 90%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/

/* Contact Form */

/* .contactForm {
  margin-top: 10%;
  margin-bottom: 50%;
} */
.contactForm {
  text-align: center;
  max-width: 90vw;
  height: 70vh;
  margin: 20px auto;
  width: 60vw;
  display: grid;
  grid-template-columns: (auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
}
textarea {
  resize: none;
}
.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  margin-top: 6%;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
@media (max-width: 920px) {
  .container {
    width: 90%;
  }
}
.wrapper {
  padding: 2px;
  max-width: 960px;
  width: 100%;
  margin: 10% auto;
}
.columns {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
}
.column {
  flex: 1;
  margin: 20px;
  padding: 10px;
}
@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
.input {
  width: 90%;
  padding: 15px 0px 5px 2px;
}
.form-button {
  padding: 15px 0px 10px 0px;
}
.form-submit {
  display: inline-block;
  width: 90%;
}

/* End of Contact Form*/

/* Language buttons */
.language-btn {
  background: var(--offWhite);
  text-align: right;
  letter-spacing: var(--mainSpacing);
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}
.language-btn button {
  letter-spacing: var(--mainSpacing);
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  transition: var(--mainTransition);
  text-transform: uppercase;
}
.language-btn button:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* End of Language buttons */

/* Carousel */
.carousel {
  margin: 32px;
}

/* End of Carousel */

/* Captcha */
.captcha {
  margin-left: 40px;
}

.introTabs {
  padding-left: 35%;
}
@media screen and (max-width: 980px) {
  .loadingSpinner {
    margin-left: 1%;
  }
  .introTabs {
    padding-left: 15%;
  }

  .captcha {
    margin-left: 35px;
  }
}
@media screen and (max-width: 680px) {
  .loadingSpinner {
    margin-left: 0;
  }
  .introTabs {
    padding-left: 2%;
  }

  .captcha {
    margin-left: 10px;
  }
}
/* End of Captcha */

/* Tabs */

.Tabs {
  -webkit-tap-highlight-color: transparent;
}

.TabList {
  margin: 0 0 10px;
  padding: 0;
  text-align: 'center';
  position: 'relative';
  border-bottom: 'transparent';
  border-color: 'transparent';
  color: '#E3B74F';
}

.Tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.TabPanel > p {
  display: block;
  border: 7px double #e3b74f;
  border-radius: 40px 0px 40px 0px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 10%;
  padding: 5%;
  text-align: left;
  text-transform: none;
  font-size: 20px;
  word-spacing: 0.2em;
  font-family: Libre Baskerville, serif;
}

/* End of Tabs */

/* Video  */
.video {
  display: block;
  margin: 0 auto;
  margin-bottom: 20vh;
}

/* End of Video */

/* Restaurant Page */

.restaurantBody {
  background-color: var(--mainWhite);
}

.para {
  width: 100%;
  height: 50vh;
  top: 50%;
  left: 50%;
  padding: 10rem;
  margin-bottom: 20rem;
}

.columnLayout {
  padding: 0;
  margin: 0;
  margin-bottom: 20vh;
}
.columnLayout > body {
  overflow-x: hidden;
  font-family: 'Libre Baskerville', serif;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
}

.contentContainer {
  padding-top: 10rem;
  width: calc(100% - 12px);
}

.imageColumn {
  flex: 0 0 auto;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.columnContent {
  flex: 0 0 auto;
  width: 50%;
  padding: 40px 50px;
}
.columnContent .contentContainer h5 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}
.columnContent .contentContainer p {
  padding-top: 3rem;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}

@media screen and (max-width: 680px) {
  .contentContainer {
    flex-flow: row wrap;
  }
  .imageColumn .contentContainer {
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }
  .sectionContainer .columnContent {
    display: block;
    order: 2;
    width: 100%;
  }
  .sectionContainer .columnContent .contentContainer {
    padding: 20px 35px;
  }
  .sectionContainer .columnContent .contentContainer h5 {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 980px) {
  .para {
    width: 150px;
    height: 260px;
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 680px) {
  .para {
    width: 150px;
    height: 240px;
    padding: 10%;
  }
  .imageColumn {
    width: 100%;
  }
}

/* End of Restaurant Page */
